.single_product {
    transition: .3s;
    background: #fff;
    padding: 10px 10px 0;
    position: relative;
}

.single_product:hover .add_to_cart {
    opacity: 1;
    visibility: visible;
    bottom: -44px;
}


@media only screen and (max-width: 767px) {
    .section_title {
        margin-bottom: 25px;
    }
}

.section_title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    background: #e1e1e1;
}

.section_title h2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    background: #f7f7f7;
    padding-right: 15px;
    z-index: 9;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .section_title h2 {
        font-size: 17px;
        line-height: 17px;
    }
}

.product_tab_btn {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.product_tab_btn ul {
    justify-content: center;
}

@media only screen and (max-width: 575px) {
    .product_tab_btn ul {
        flex-direction: column;
        text-align: center;
    }
}

.product_tab_btn ul li a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    padding: 10px 20px;
    display: inline-block;
    color: #232323;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

.product_tab_btn ul li a:hover {
    border-color: #232323;
}

.product_tab_btn ul li a.active {
    border-color: #232323;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product_tab_btn ul li a {
        font-size: 15px;
        line-height: 20px;
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 767px) {
    .product_tab_btn ul li a {
        font-size: 14px;
        line-height: 22px;
        padding: 8px 13px;
    }
}

.single_product {
    transition: .3s;
    background: #fff;
    padding: 10px 10px 0;
    position: relative;
}

.single_product:hover .add_to_cart {
    opacity: 1;
    visibility: visible;
    bottom: -44px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_product:hover .add_to_cart {
        bottom: -41px;
    }
}

.single_product:hover .action_links {
    opacity: 1;
    visibility: visible;
}

.single_product:hover .action_links ul li {
    transform: scale(1);
}

.single_product:hover .product_thumb a.secondary_img {
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out;
}

.product_thumb {
    position: relative;
    overflow: hidden;
}

.product_thumb a.secondary_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out;
}

.product_thumb a img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .product_thumb a img {
        width: 100%;
    }
}

.product_content {
    padding: 15px 0 17px;
    text-align: center;
}

.product_content h4 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

@media only screen and (max-width: 767px) {
    .product_content h4 {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 9px;
    }
}

.product_content h4 a:hover {
    color: #febc8b;
}

.price_box {
    transition: .3s;
    margin-top: 12px;
}

.price_box span {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: #1e1e1f;
}

@media only screen and (max-width: 767px) {
    .price_box span {
        font-size: 15px;
    }
}

.price_box span.old_price {
    text-decoration: line-through;
    margin-right: 5px;
}

.product_rating ul {
    display: flex;
    justify-content: center;
}

.product_rating ul li {
    line-height: 16px;
    margin-right: 2px;
}

.product_rating ul li:last-child {
    margin-right: 0;
}

.product_rating ul li a {
    font-size: 13px;
}

.product_rating ul li a:hover {
    color: #febc8b;
}

.add_to_cart {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    bottom: 0;
    z-index: 9;
}

.add_to_cart a {
    line-height: 45px;
    height: 45px;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 30px;
    width: 100%;
    background: #999;
    color: #fff;
}

.add_to_cart a:hover {
    background: #febc8b;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .add_to_cart a {
        line-height: 42px;
        height: 42px;
        padding: 0 24px;
    }
}

@media only screen and (max-width: 767px) {
    .add_to_cart a {
        line-height: 42px;
        height: 42px;
        padding: 0 20px;
    }
}

.action_links {
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    left: 0;
    text-align: center;
}

.action_links ul li {
    margin-right: 3px;
    transform: scale(0.7);
    transition: .3s;
    display: inline-block;
}

.action_links ul li:last-child {
    margin-right: 0;
}

.action_links ul li a {
    font-size: 20px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 36px;
    background: #999;
    color: #fff;
}

.action_links ul li a:hover {
    background: #febc8b;
}

.label_product span {
    position: absolute;
}

.label_product span.label_sale {
    top: 0;
    right: 0;
    color: #ffffff;
    background: #febc8b;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.label_product span.label_new {
    top: 20px;
    right: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #febc8b;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    width: 40px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

.product_carousel .owl-stage-outer {
    padding-bottom: 50px;
}

.product_carousel .product_thumb a img {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .product_carousel .product_thumb a img {
        width: 100%;
    }
}

.product_carousel .col-lg-3 {
    flex: 0 0 100%;
    width: 100%;
}

.product_carousel .owl-nav {
    position: absolute;
    display: flex;
    right: 15px;
    top: -63px;
    background: #f7f7f7;
    padding-left: 10px;
}

.product_carousel .owl-nav div {
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
    background: #999;
}

.product_carousel .owl-nav div:hover {
    background: #febc8b;
}

.product_carousel .owl-nav div.owl-prev {
    margin-right: 8px;
}

@media only screen and (max-width: 767px) {
    .product_carousel .owl-nav div {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .product_wrapper.top {
        margin-bottom: 8px;
    }
}